/Prueba/Paulo-Prueba/nbproject/private/
/Prueba/Paulo-Prueba/build/
/Poo/Paulo-Prueba/nbproject/private/
/Poo/Paulo-Poo/build/
/Perro/nbproject/private/
/Mascota/nbproject/private/
/MascotaApp/nbproject/private/
/Mascotapp/nbproject/private/
/Mascotapp/build/