/Prueba/Paulo-Prueba/nbproject/private/
/Prueba/Paulo-Prueba/build/
/Poo/Paulo-Prueba/nbproject/private/
/Poo/Paulo-Poo/build/
/Perro/nbproject/private/
/Mascota/nbproject/private/
/MascotaApp/nbproject/private/
/Mascotapp/nbproject/private/
/Mascotapp/build/
/Operacion/nbproject/private/
/Operacion/build/
/Ejercicio4/nbproject/private/
/Guia8Ejercicio4/nbproject/private/
/Guia8Ejercicio4/build/
/Guia8Ejercicio5/nbproject/private/
/Guia8Ejercicio5/build/
/Guia8Ejercicio6/nbproject/private/
/Guia8Ejercicio6Nespresso/nbproject/private/
/Guia8Ejercicio6Nespresso/build/
/Guia8Ejercicio8Cadena/nbproject/private/
/Guia8Ejercicio9_Matematica/nbproject/private/
/Guia8Ejercicio9_Matematica/build/
/_8_POO-Cadena/nbproject/private/
/_8_POO-Cadena/build/
/Guia8Ejercicio8Cadena/build/
/Guia8Ejercicio11Fechas/nbproject/private/
/guia8ejercicio11fechas/nbproject/private/
/guia8ejercicio11fechas/build/
/guia8ejercicio11/nbproject/private/
/guia8ejercicio11/build/
/guia8ejercicio10/nbproject/private/
/guia8ejercicio10/build/
/Eje13/nbproject/private/
/Eje13/build/